<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to RBAC System</h1>
    <a href="/auth/login">Login</a> | 
    <a href="/auth/register">Register</a>
    <br/>
  
    <a href="/public">Access Public Page</a> | 
    <a href="/protected/admin">Don't try to go to Admin Area</a> | 
    <a href="/protected/user">Go to User Area</a>
</body>
</html>
